<% unless @task.comments.empty? %>
  <h3 class="text-center">This task's comments</h3>
  <table class="table table-striped">
    <tbody id="<%= @task.id %>-comments-table-tbody">
      <% @task.comments.each do |comment| %>
        <tr>
          <td>
            <%= link_to comment.user.name, comment.user %>
            commented at <%= comment.created_at %>
            <div class="card">
              <div class="card-body">
                <%= comment.body %>
              </div>
            </div>
          </td>
          <td class="comments-controls-table-row">
            <ul class="comments-controls-list">
              <li>
                <%= link_to (fa_icon "pencil"),
                  edit_project_task_comment_path(@project, @task, comment) if 
                  can? :edit, comment %>
              </li>
              <li>
                <%= link_to (fa_icon "times"), project_task_comment_path(@project, @task, comment),
                  method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, comment %>
              </li>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h4 class="text-center">No comments!</h4>
<% end %>

<% if can? :new, @new_comment %>
  <h5>Add a new comment:</h5>
  <%= render 'comments/form', comment: @new_comment, project: @project, task: @task %>
<% end %>
