<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Developer:</strong>
  <% if @task.user %>
    <%= link_to @task.user.name, @task.user %>
  <% else %>
    none
  <% end %>
</p>

<p>
  <strong>Project:</strong>
  <%= link_to @task.project.title, @task.project %>
</p>

<%= link_to 'Edit', edit_project_task_path(@project, @task) %> |
<%= link_to 'Back', project_path %>
