<h3><%= @user.name %>'s profile</h3>
<p><strong>email:</strong> <%= @user.email %></p>
<p><strong>member since:</strong> <%= @user.created_at %></p>
<p><strong>last seen:</strong> <%= @user.last_sign_in_at %></p>

<p>
  <strong>role:</strong>
    <% if @user.manager_role? %>
      Manager
    <% else %>
      Developer
    <% end %>
</p>

<% if @user == current_user %>
  <%= link_to (fa_icon "pencil-square-o", text: 'Edit profile'), edit_user_registration_path %>
<% end %>
<br>
<%= link_to (fa_icon "arrow-left", text: 'Back'), :back %>

<h3 class="text-center"><%= @user.name %>'s projects</h3>
<% if @projects.exists? %>
  <div class="list-group projects-list">
    <% @projects.each do |project| %>
      <%= link_to(project.title, project, :class => "list-group-item") %>
    <% end %>
  </div>
<% else %>
  <h5 class="text-center"><%= @user.name %> has no projects!</h5>
<% end %>
