<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
  </div>
  
  <%= f.label nil, "This project's users:" %>
  
  <input type="text" id="form-users-list-search" class="form-control"
    placeholder="filter users">  
  <p id="selected-users-paragraph"></p>
  <p>
    <div class="list-group form-users-list">
      <% User.where(developer_role: true).each do |user| %>
        <div class="list-group-item">
          <%= check_box_tag "project[user_ids][]", user.id, 
            project.users.include?(user), class: "form-users-list-item",
              id: user.name %>
          <%= user.name %>
        </div>
      <% end %>
    </div>
  </p>
  
  

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
