<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Creator:</strong>
  <%= link_to @project.user.name, @project.user %>
</p>

<%= link_to (fa_icon "pencil-square-o", text: 'Edit project'), 
  edit_project_path(@project) if can? :edit, @project %>
<br>
<%= link_to (fa_icon "arrow-left", text: 'Back'), projects_path %>

<hr>

<h3 class="text-center">This project's tasks</h3>

<%= check_box_tag('current-user-task-filter-checkbox', 1, false, 
  data: { "user-id": current_user.id }) + ' Show my tasks only' if
  (can? :filter_tasks, Project) %>

<% unless @project.tasks.empty? %>
  <div class="list-group projects-list" id="projects-tasks-list">
    <% @project.tasks.each do |task| %>
      <%= link_to(task.title, project_task_path(@project, task), :class => "list-group-item",
        "data-user-id": task.user_id) %>
    <% end %>
  </div>
<% else %>
  <h5 class="text-center">This project has no tasks!</h5>
<% end %>
<%= link_to (fa_icon "plus-circle", text: 'Create new task'), 
  new_project_task_path(@project, @task) if (can? :new, Task) %>

<hr>

<h3 class="text-center">This project's developers</h3>
<% unless @project.users.empty? %>
  <div class="list-group projects-list">
    <% @project.users.each do |user| %>
      <%= link_to(user.name, user, :class => "list-group-item") %>
    <% end %>
  </div>
<% else %>
  <h5 class="text-center">This project has no developers!</h5>
<% end %>
<%= link_to (fa_icon "plus-circle", text: 'Add a developer'), edit_project_path if 
  (can? :edit, @project) %>
