<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, 
  url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <%= f.input :name, autofocus: true %>
  <%= f.input :email %>
  <%= f.input :password, autocomplete: "off" %>
  <%= f.input :password_confirmation, autocomplete: "off" %>
  <%= f.input :manager_role, label: (raw "&nbsp;I am a <strong>Manager</strong>!") %>

  <%= f.button :submit, 'Sign up' %>
<% end %>

<%= render "users/shared/links" %>
